header {

    .search-bar-container {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-bar {
            display: flex;
            align-items: baseline;
            padding-right: 160px;

            .user-choice {
                border: 2px solid $clr-gray300;
                border-radius: $radius;
                font-family: inherit;
                font-size: inherit;
                color: white;
                outline: none;
                padding: 10px;
                margin-right: 12px;
    
                &:hover {
                    border-color: $clr-primary-light;
                }
    
                &:focus {
                    border-color: $clr-primary;
                }
            }
            
            button {
                background-color: $clr-primary-dark;
                padding: 12px;
                border: 2px solid;
                border-radius: 0.5rem;
                cursor: pointer;
                margin-right: 12px;
    
                &:hover {
                    border-color: $clr-primary-light;
                }
    
                &:focus {
                    border-color: $clr-primary;
                }
            }

            p {
                font-size: 28px;
                padding-right: 22px;
                padding-top: 16px;
            }
        }

        h1 {
            display: inline-block;
            padding-right: 10px;
            padding-left: 29px;
        }

        img {
            height: 200px;
            width: auto;
        }
    }
}

// media query 

@media screen and (max-width: 573px) {
   
    header {

        .search-bar-container {
            display: block;

            .search-bar {
                display: block;
                padding: 0;
            }
        }

        img {
            display: none;
        }
    }
}

@media screen and (min-width: 573px) and (max-width: 1300px) {
  
    header {

        .search-bar-container {
            display: block;

            .search-bar {
                display: block;
                padding: 0;
            }
        }

        img {
            display: none;
        }
    }
}